# Set theme
remote_theme: daviddarnes/alembic

# File excludes
exclude:
- README.md
- Gemfile
- Gemfile.lock

# Set plugins
plugins:
- jekyll-sitemap
- jekyll-mentions
- jekyll-paginate
- jekyll-seo-tag
- jekyll-redirect-from
- jekyll-default-layout
- jekyll-feed
- jemoji
- jekyll-remote-theme

# Site settings
url: 'https://huangpanzhang.github.io/test'
baseurl: '/test'
title: 'Hate Speech Research'
description: 'A website that links all research progress and datasets at Language Technology Lab in University Duisburg-Essen'
permalink: pretty
# logo: "https://www.ltl.uni-due.de/assets/images/logo3.png"

# Pagination
paginate: 5
paginate_path: blog/page:num

# Header nav
navigation_header:
- title: Home
  url: /
- title: Projects
  url: /projects
- title: Datasets
  url: /datasets
- title: Contact
  url: contact


# Footer nav
navigation_footer:
- title: Back to top
  url: "#top"

# Collections
collections:
  posts:
    title: Posts
    output: true
    description: "My thoughts and ideas"
    feature_text: |
      Welcome to my blog
    feature_image: "https://picsum.photos/2560/600?image=866"
